.container-mansory {
    position: relative;
    width: 100%; /* Ocupa 100% da largura da div externa */
    gap: 0;
  }
  
  @media screen and (orientation: landscape) {
    .container-mansory {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
      width: 100%;
    }
  }
  
  @media screen and (orientation: portrait) {
    .container-mansory {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }
  
  .container-mansory img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  