/* src/components/PhotoGallery.css */
.photo-gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .photo-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }

  .image-modal {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    cursor: pointer;
  }
  
  .image-modal img {
    width: 80%; /* Defina uma largura para a imagem */
    height: 80%;
    display: flex;
    object-fit: contain;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .fullscreen-overlay img {
    max-width: 100vw ;
    max-height: 100vh;
  }
  
  .thumbAlbum {
    object-fit: contain;
  }
  
