body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Peso da fonte (normal) */
  font-size: 12px;
  overflow-y: auto;
  background-color: #faebd7;
  height:100%;
}

h1,
h2,
h3,
h4 {
  font-size: 2em;
  position: relative;
  font-weight: bold;
}

h1::after,
h2::after,
h3::after,
h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  padding: 1px;
}

p {
  line-height: 1.5;
}

@media screen and (orientation: portrait) {
  img {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  img {
    display: inline-flex;
  }
}

.small-text {
  font-size: 0.8em; /* Tamanho menor */
}

.large-text {
  font-size: 1.2em; /* Tamanho maior */
}

.image-container h2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

.image-container h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 10px;
  margin: 0;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
}
