/* Reset de estilos globais */
:root {
  --primary-color: #c0810d;
  --secondary-color: #ccc;
  --background-color: #222;
  --text-color: #fff;
}

/* Estilos Globais */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  font-size: 16px; /* 1rem = 16px */
}

.overlay {
  padding: 0.625rem; /* 10px */
}

/* Estilos dos Títulos */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  position: relative;
}

/* Linha abaixo dos Títulos */
h1::after,
h2::after,
h3::after,
h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #c0810d;
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

a:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 4px;
}

@media screen and (orientation: portrait) {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (orientation: landscape) {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; /* Limita a largura máxima */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px;
}


.Container > * {
  flex-grow: 1;
  flex-shrink: 0;
}