body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Peso da fonte (normal) */
  font-size: 12px;
  overflow-y: auto;
  background-color: #222;
  height:100%;
}

h1,
h2,
h3,
h4 {
  font-size: 2em;
  position: relative;
  font-weight: bold;
}

h1::after,
h2::after,
h3::after,
h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  padding: 1px;
}

p {
  line-height: 1.5;
}

@media screen and (orientation: portrait) {
  img {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  img {
    display: inline-flex;
  }
}
